
/.gradle/
/.project
/.idea
/log
*.log
*/log/


#JetBrains
.idea
*.iml
*.ipr
*.iws
.idea_modules/

#Eclipse
bin/
tmp/
target/
classes/
.settings/
.project
.externalToolBuilders/
.project
.classpath
.DS_Store
.classpath
/build/
